*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New';
}
:root{
    --background: url("bg.jpg");
    --backdrop: rgba(108,117,125,0.6);
    --line: #6C757D;
    --font: #E9ECEF;
    --button: rgba(108, 117, 125,0.5);
}
body{
    background: var(--background);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.main-body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90vw;
    max-width: 550px;
    height: fit-content;
    overflow: hidden;
}
.header{
    height: 70px;
}
.area-button button{
    display: block;
    width: 80%;
    margin: 8px auto;
    height: 3rem;
    border-radius: 5px;
    border: unset;
    background-color: var(--button);
    backdrop-filter: blur(2px);
    color: var(--font);
    font-size: 0.95rem;
    cursor:pointer;
}
.pfp{
    width: 120px;
    height: 120px;
    background: url("pepe.jpeg");
    background-position: center center;
    background-size: cover;
    border: 7px solid var(--line);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 100%;
    z-index: 1;
}
.topic{
    padding-top: 90px;
}
.text-head{
    text-align: center;
    color: var(--font);
}
.area-button{
    padding: 1rem 0 0.6rem 0;
}
.topic{
    background-color: var(--backdrop);
    backdrop-filter: blur(3px);
    border-radius: 10px 10px 8px 8px;
}
.text-head p{
    font-size: 0.97rem;
    cursor:default;
}
.text-head h1{
    font-size: 1rem;
    cursor: default;
}
.area-button button:hover{
    width: 85%;
    background: rgba(0, 158, 0, 0.6);
    transition: 100ms ease-in-out;
}
/* masih dalam pembangunan */
.area-button button:nth-of-type(1):hover{
    width: 85%;
    background: rgba(189, 0, 0, 0.6);
    transition: 100ms ease-in-out;
}

/* media query */
/* portrait */
@media screen and (min-width: 300px) and (orientation: portrait){
    .text-head h1{
        font-size: 1.24rem;
    }
    .text-head p {
        font-size: 1rem;
    }
}
@media screen and (min-width: 410px) and (orientation: portrait){
    .text-head h1{
        font-size: 1.35rem;
    }
}
@media screen and (min-width: 425px) and (orientation: portrait){
    .text-head h1{
        font-size: 1.5rem;
    }
    .text-head p {
        font-size: 1.15rem;
    }
    .area-button button{
        font-size: 1rem;
        width: 86%;
    }
    .area-button button:hover, .area-button button:nth-of-type(1):hover{
        width: 89%;
    }
    .pfp{
        width: 135px;
        height: 135px;;
    }
}
@media screen and (min-width: 768px) and (orientation: portrait){
    .text-head h1{
        font-size: 2.1rem;
    }
    .text-head p{
        font-size: 1.35rem;;
    }
    .main-body{
        max-width: 600px;
    }
    .area-button button{
        height: 3.7rem;
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1000px) and (orientation: portrait){
    .main-body{
        max-width: 700px;
    }
    .area-button button {
        height: 4rem;
        font-size: 1.2rem;
    }
}

/* landscape */
@media screen and (max-height: 650px) and (orientation: landscape){
    .topic{
        padding-top: 79px;
    }
    .area-button{
        padding: 0.5rem 0 0.1rem 0;
    }
}
@media screen and (min-height: 651px) and (orientation: landscape){
    .topic{
        padding-top: 90px;
    }
    .area-button{
        padding: 1rem 0 0.6rem 0;
    }
    .text-head h1{
        font-size: 1.5rem;
    }
    .text-head p{
        font-size: 1.1rem;
    }
}
@media screen and (min-height: 1200px) and (orientation: landscape) {
    .pfp{
        width: 135px;
        height: 135px;
    }
    .text-head h1{
        font-size: 2rem;
    }
    .text-head p{
        font-size: 1.3rem;
    }
    .area-button button{
        height: 3.5rem;
        font-size: 1.1rem;
    }
}
